
.rb{
    border-style: none;
    position:absolute;
    right: 0;
    top: 280px;
}
.rb:hover{
    cursor: pointer;
}
.lb{
    border-style: none;
    position:absolute;
    left: 0;
    top: 270px;
}
.lb:hover{
    cursor: pointer;
}


.comment textarea{
    border-color: gray;
    border-radius: 4px;
    width: 100%;
    font-size: 15px;

}
.word{
    margin: 5px 0;
    border-bottom-style: dashed;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
}
