/*NAVIGATION*/

.tableAttr table, th, td{
    border: 1px solid black;
}
.menu{
    display: inline-block;
}
.buttonNavLi, .buttonLoginMenu{
    color: black;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 4px 0 0;
}
.buttonNavLi:hover{
    margin: 3px 0 0 0;
    color: white;
    background-color: purple;
}
.buttonNavLi a{
    color: black;
}
.buttonNavLi a:hover {
    text-decoration: none;
    color: white;
}
.buttonLoginMenu:hover {
    margin: 3px 0 0 0;
    color: white;
    background-color: purple;
}
.buttonLoginMenu a{
    color: black;
}
.buttonLoginMenu a:hover{
    text-decoration: none;
    color: white;
}
.buttonLoginMenu .loginitem {
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.loginitem a{
    color: black;
    display: block;
    padding: 8px 16px;
    text-align: center;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.loginitem a:hover{
    color: white;
    background-color: purple;
}
.buttonLoginMenu:hover .loginitem{
    display: block;
}


/*ALBUM TITLE*/
#go{
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(13, 14, 14, 0.3);
    padding: 8px;
    text-align: center;
}
#go:hover{
    cursor:pointer;
}


/*ALBUM*/
#album, #contact{
    font-family: Courier;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
}
.albuma{
    font-family: Courier;
    vertical-align: middle;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
.albuma >.albumimg{
    flex: 1;
    background-color: thistle;
}
.albuma > p{
    width: 100%;
    color: white;
    font-weight: lighter;
    font-family: Arial;
    text-align: center;
    background-color: thistle;
}

/*CONTACT*/
.submit1:hover{
    cursor: pointer;
}
.formitemmargin{
    margin: 4px 0;
}
.submit1{
    border-radius: 4px;
}
.submit1:hover{
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    background-color: purple;
}
/*FOOTER*/
.footer{
    text-align: center;
    background-color: black;
    color: mediumpurple;
}


